body {
    background:grey;
    margin-top: 50px;
}

.quantity {
    display: flex;
    justify-content: center;
}
.Res {
    display: flex;
    justify-content: center;
}

.Res button{
      width: 100px;
    height: 45px;
    border: 1px solid black;
    color: black;
    border-radius: 0;
    background: white;
}

.quantity button{
    width: 45px;
    height: 45px;
    border: 1px solid black;
    color: black;
    border-radius: 0;
    background: white;
}

.quantity input{
    border:none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    width: 100px;
    font-size: 20px;
    color: black;
    font-weight: 300;
}